@model PowerBIEmbedded_AppOwnsData.Models.EmbedConfig
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://npmcdn.com/es6-promise@3.2.1"></script>
<script src="~/scripts/powerbi.js"></script>
@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div id="errorWrapper">
        <h2>
            Error
        </h2>
        <pre>
            @Model.ErrorMessage
        </pre>
    </div>

    return;
}
<h2>Embedded Report</h2>
<div>
    The following report is the first report found in the given group, or the reportId defined in Web.config. Feel free to change the code to match your needs.<br /><br />
    @using (Html.BeginForm())
    {
        <div>
            <p>
                Select user:<br />
                <input type="radio" 
                       name="Username" 
                       @if (Model.Username == "Deltennium") { <text>checked</text> }
                       value="Deltennium" />Deltennium<br />
                <input type="radio" 
                       name="Username" 
                       @if (Model.Username == "Northridge") { <text>checked</text> }
                       value="Northridge" />Northridge<br />
                @*<input type="radio" name="ReportType" value="Bookkeeper"  />Bookkeeper<br />*@
            </p>
        </div>
        <div>
            <input type="submit" value="Reload" />
            <br />            <br />
        </div>
    }
</div>

<div>
    <div id="reportContainer"></div>
</div>

<script>
    function getReportModelByName(reportName) {
        var reportModel = reportModels.find(
            function (element, index, array) { return element.Name === reportName; });
        return reportModel;
    }

    function embedReport(reportName) {
        var reportModel = getReportModelByName(reportName);

        // Get models. models contains enums that can be used.
        var models = window['powerbi-client'].models;

        // Embed configuration used to describe the what and how to embed.
        // This object is used when calling powerbi.embed.
        // This also includes settings and options such as filters.
        // You can find more information at https://github.com/Microsoft/PowerBI-JavaScript/wiki/Embed-Configuration-Details.
        var config = {
            type: 'report',
            tokenType: models.TokenType.Embed,
            accessToken: accessToken,
            embedUrl: reportModel.EmbedUrl,
            id: reportModel.Id,
            permissions: models.Permissions.All,
        //    filters: [defaultFilter],
            settings: {
                filterPaneEnabled: true,
                navContentPaneEnabled: true
            }
        };

        // Get a reference to the embedded report HTML element
        var reportContainer = $('#reportContainer')[0];

        // Embed the report and display it within the div container.
        var report = powerbi.embed(reportContainer, config);
    }

</script>

<script>
    // Read embed application token from Model
    var accessToken = "@Model.EmbedToken.Token";

    // Read embed URL from Model
    var embedUrl = "@Html.Raw(Model.EmbedUrl)";

    // Read report Id from Model
    var embedReportId = "@Model.Id";

    var reportModels = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Reports));

    embedReport("NoOlapSandbox RLS UserTable");
</script>